import React from 'react'
import { Form, Input, Button } from 'antd'
import { FormProps } from 'antd/lib/form'

interface EntityFormProps extends FormProps {
  entity?: any
  onSubmit?: any
  onCancel?: any
}
  
export const <%=entityName%>FormView = (props: EntityFormProps) => {
  const { entity, onSubmit, onCancel, ...restProps } = props
  return <Form onFinish={props.onSubmit} {...restProps}>
<%_ 
for (idx in fields) {
const fieldType = fields[idx].fieldType;
const fieldName = fields[idx].fieldName;
const fieldIsEnum = fields[idx].fieldIsEnum;
const label = fieldName.toUpperCase()
_%>
    <Form.Item label="<%=label %>" name="<%= fieldName%>">
<%_
if (fieldType === 'String' || fieldType === 'Integer' || fieldType === 'Float' || fieldType === 'Double') {
%>      <Input />
<%_
} else {
%>      <Input />
<%_
}
%>    </Form.Item>
<%_
}
_%>
    <Form.Item>
      {props.onSubmit ? <Button type="primary" htmlType="submit">Submit</Button> : null}
      {props.onCancel ? <Button onClick={props.onCancel}>Cancel</Button> : null}
    </Form.Item>
  </Form>
}

export const <%= entityName%>Form = (props: EntityFormProps) => {
  const { entity } = props
  const [form] = Form.useForm()

  React.useEffect(() => {
    form.setFieldsValue(entity)
  }, [entity])

  return <<%= entityName%>FormView
    labelCol={{ span: 8 }}
    wrapperCol={{ span: 12 }}
    form={form}
    onSubmit={props.onSubmit}
    onCancel={props.onCancel}
    {...props}
  />
}
