export interface I<%= entityName %> {
<%_ 
for (idx in fields) {
const fieldType = fields[idx].fieldType;
const fieldName = fields[idx].fieldName;
if (fieldType === 'String') {
_%>
  <%= fieldName %>?: string
<%_
} else if (fieldType === 'Integer' || fieldType === 'Float' || fieldType === 'Double') {
_%>
  <%= fieldName %>?: number
<%_
}
_%>
<%_ } _%>
<%_ 
for (idx in relationships) {
  const {relationshipType,relationshipName} = relationships[idx]
  if (relationshipType === 'many-to-one') {
_%>
  <%= relationshipName %>Id?: number
<%_
  } 
_%>
<%_
} 
_%>
}