import React from 'react'
import { Table } from 'antd'
import { TableProps } from 'antd/lib/table'
import { I<%= entityName%> } from './entity'

const columns = [
<%_
for (idx in fields) {
const fieldName = fields[idx].fieldName;
%>  { title: '<%= fieldName.toUpperCase()%>', dataIndex: '<%= fieldName%>', key: '<%= fieldName%>' },
<%_
}
%>]

export const <%= entityName%>TableView = (props: TableProps<I<%= entityName%>>) => {
  const { rowKey, columns: ignore, ...restProps } = props
  return <Table
    rowKey="id"
    columns={columns}
    {...restProps}
  />
}
